@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&family=Monoton&family=Poiret+One&display=swap');

:root {
    --red: #E54B4B;
    --yellow: #FFFF63;
    --ltblue: #3C6BE2;
    --blue:  #2144C5;
    --dkblue: #102A6D;
    --ltgray: #a9abad;
    --mdgray: #3d4148;
    --gray: #292c31;
    --dkgray: #1d2023;

    --background: black;
    --color: white;
    /* --background: white;
    --color: black;  */

    --colorizered: brightness(20%) sepia(100%) saturate(400%) hue-rotate(-40deg);
    --colorizeyellow: brightness(20%) sepia(100%) saturate(300%) hue-rotate(10deg);
    --colorizeblue: brightness(20%) sepia(100%) saturate(400%) hue-rotate(180deg);

    --font-thin: 'Poiret One', cursive;
    --font-type: 'Jost', sans-serif;
    --font-brash: 'Monoton', cursive;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    background: var(--background);
    min-height: calc(100vh - 100px);
	margin: 0;
	font-family: var(--font-type);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.container {
    color: var(--color);
    font-family: var(--font-type);
    font-weight: 300;
    margin: 1em;
}

.h2 {
    grid-column: span 2;
}

.h3 {
    grid-column: span 3;
}

.h4 {
    grid-column: span 4;
}

.v2 {
    grid-row: span 2;
}

.v3 {
    grid-row: span 3;
}

.v4 {
    grid-row: span 4;
}

.b1 {
    background: var(--red);
}

.b2 {
    background: var(--yellow);
}

.b3 {
    background: var(--blue);
}

.item img.visible {
    opacity: 1;
}

.item img.faded {
    /* opacity: 0;
    filter: grayscale(60%); */
    /* For Black Background */
    opacity: 0.7;
    filter: grayscale(40%) sepia(60%) brightness(10%);
}

/* Svelte Transition Fix */

main {
    display: grid;
}
section {
    grid-area: 1/1/2/2;
}
